In [8]:
import boto3
import pandas as pd
import psycopg2
import json

In [16]:
import configparser
config=configparser.ConfigParser()
config.read_file(open('cluster.config'))

In [17]:
config

In [18]:
config.get('AWS','KEY')

'AKIAQM5PKG2LN2JKRLHR'

In [19]:
config.get('DWH','DWH_NUM_NODES')

'1'

In [27]:

KEY                         = config.get('AWS','KEY')
SECRET                      = config.get('AWS','SECRET')

DWH_CLUSTER_TYPE            = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES                = config.get('DWH','DWH_NUM_NODES')
DWH_NODE_TYPE               = config.get('DWH','DWH_NODE_TYPE')

DWH_CLUSTER_IDENTIFIER      = config.get('DWH','DWH_CLUSTER_IDENTIFIER')
DWH_DB                      = config.get('DWH','DWH_DB')
DWH_DB_USER                 = config.get('DWH','DWH_DB_USER')
DWH_DB_PASSWORD             = config.get('DWH','DWH_DB_PASSWORD')
DWH_PORT                    = config.get('DWH','DWH_PORT')

DWH_IAM_ROLE_NAME           = config.get('DWH','DWH_IAM_ROLE_NAME')

(DWH_DB_USER,DWH_DB_PASSWORD,DWH_DB)

('awsuser', 'Sahil1234', 'flight')

In [29]:
pd.DataFrame({"param":['DWH_CLUSTER_TYPE','DWH_NUM_NODES','DWH_NODE_TYPE','DWH_CLUSTER_IDENTIFIER','DWH_DB','DWH_DB_USER','DWH_DB_PASSWORD','DWH_PORT','DWH_IAM_ROLE_NAME'],
"value":[DWH_CLUSTER_TYPE,DWH_NUM_NODES,DWH_NODE_TYPE,DWH_CLUSTER_IDENTIFIER,DWH_DB,DWH_DB_USER,DWH_DB_PASSWORD,DWH_PORT,DWH_IAM_ROLE_NAME]
})

                    param               value
0        DWH_CLUSTER_TYPE         single-node
1           DWH_NUM_NODES                   1
2           DWH_NODE_TYPE           dc2.large
3  DWH_CLUSTER_IDENTIFIER   my-first-redshift
4                  DWH_DB              flight
5             DWH_DB_USER             awsuser
6         DWH_DB_PASSWORD           Sahil1234
7                DWH_PORT                5439
8       DWH_IAM_ROLE_NAME  redshift-s3-access

In [31]:
#Now We are connecting to AWS
ec2=boto3.resource('ec2',region_name='ap-south-1',aws_access_key_id=KEY,aws_secret_access_key=SECRET)

In [32]:
s3=boto3.resource('s3',
                   region_name='ap-south-1',
                   aws_access_key_id=KEY,
                   aws_secret_access_key=SECRET)

In [35]:
iam=boto3.client('iam',
                   region_name='ap-south-1',
                   aws_access_key_id=KEY,
                   aws_secret_access_key=SECRET)

In [36]:
redshift=boto3.client('redshift',
                   region_name='ap-south-1',
                   aws_access_key_id=KEY,
                   aws_secret_access_key=SECRET)

In [37]:
bucket=s3.Bucket('vishnu-test-buck')
log_data_files=[filename.key for filename in bucket.objects.filter(Prefix='')]
log_data_files

['6a partitions.jpg',
 'allevents_pipe.txt',
 'allusers_pipe.txt',
 'category_pipe.txt',
 'date2008_pipe.txt',
 'listings_pipe.txt',
 'sales_tab.txt',
 'venue_pipe.txt']

In [38]:
bucket=s3.Bucket('vishnu-test-buck')
log_data_files=[filename.key for filename in bucket.objects.filter(Prefix='all')] # we can filter base on file name
log_data_files

['allevents_pipe.txt', 'allusers_pipe.txt']

In [39]:

roleArn=iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']

In [40]:
roleArn

'arn:aws:iam::027748087446:role/redshift-s3-access'

In [42]:
#creating cluster in redshift
try:
	response=redshift.create_cluster(
	ClusterType=DWH_CLUSTER_TYPE,
	NodeType=DWH_NODE_TYPE,

	#identifier & credentials
	DBName=DWH_DB,
	ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
	MasterUsername=DWH_DB_USER,
	MasterUserPassword=DWH_DB_PASSWORD,

	#Roles (for s3 access)
	IamRoles=[roleArn]
    )
except Exceptionas as e:
	print(e)

In [45]:
redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]

{'ClusterIdentifier': 'my-first-redshift',
 'NodeType': 'dc2.large',
 'ClusterStatus': 'available',
 'ClusterAvailabilityStatus': 'Available',
 'MasterUsername': 'awsuser',
 'DBName': 'flight',
 'Endpoint': {'Address': 'my-first-redshift.cafwxanap8ta.ap-south-1.redshift.amazonaws.com',
  'Port': 5439},
 'ClusterCreateTime': datetime.datetime(2022, 7, 11, 9, 4, 22, 387000, tzinfo=tzutc()),
 'AutomatedSnapshotRetentionPeriod': 1,
 'ManualSnapshotRetentionPeriod': -1,
 'ClusterSecurityGroups': [],
 'VpcSecurityGroups': [{'VpcSecurityGroupId': 'sg-01133ae030ff30145',
   'Status': 'active'}],
 'ClusterParameterGroups': [{'ParameterGroupName': 'default.redshift-1.0',
   'ParameterApplyStatus': 'in-sync'}],
 'ClusterSubnetGroupName': 'default',
 'VpcId': 'vpc-0f23d0b55ac3b6c33',
 'AvailabilityZone': 'ap-south-1b',
 'PreferredMaintenanceWindow': 'sat:08:00-sat:08:30',
 'PendingModifiedValues': {},
 'ClusterVersion': '1.0',
 'AllowVersionUpgrade': True,
 'NumberOfNodes': 1,
 'PubliclyAccessible': True,
 'Encrypted': False,
 'ClusterPublicKey': 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCKC5XIyLLbC6rr2cz0hCahdJX26rIKafglIiYqRuyj6pfDVsmcwQg03m1Y/gnjUt5XXSvFCiJ+b7kG3SE+ML9JNUle4FCqnRkyyzSAlFl/FFM7aW6gSQ+IMRAvMWX0SzoFtY+xBdTjQDeNFW+nRpC0QpnVsbDijiX8PmNameXs03OL+q0e4yn6/wnZ9DRH/M2g0cEtVCCKTd2z1jX+50FROKE9uQ/xQ1FEZJHGa5dPgeOoxXPigbvdMBdNWCjvLxsUqseaUrZi+irSt9eav0XROcFIzvdoUqu1fxN98BN524E4AW/4vCwmC3R5yCm37AdDSGMQtho/DYKppaabNmc5 Amazon-Redshift\n',
 'ClusterNodes': [{'NodeRole': 'SHARED',
   'PrivateIPAddress': '172.31.8.166',
   'PublicIPAddress': '3.6.234.31'}],
 'ClusterRevisionNumber': '39734',
 'Tags': [],
 'EnhancedVpcRouting': False,
 'IamRoles': [{'IamRoleArn': 'arn:aws:iam::027748087446:role/redshift-s3-access',
   'ApplyStatus': 'in-sync'}],
 'MaintenanceTrackName': 'current',
 'DeferredMaintenanceWindows': [],
 'NextMaintenanceWindowStartTime': datetime.datetime(2022, 7, 16, 8, 0, tzinfo=tzutc()),
 'AvailabilityZoneRelocationStatus': 'disabled',
 'ClusterNamespaceArn': 'arn:aws:redshift:ap-south-1:027748087446:namespace:7b9bd4ad-512e-4aca-a590-95e85f0266d4',
 'TotalStorageCapacityInMegaBytes': 400000,
 'AquaConfiguration': {'AquaStatus': 'disabled',
  'AquaConfigurationStatus': 'auto'}}

In [49]:
def prettyRedshiftProps(props):
	pd.set_option('display.max_colwidth',-1)
	KeysToShow=['ClusterIdentifier','NodeType','CluserStatus','MasterUsername','DBName','Endpoint','VpcId']
	x=[(k,v) for k,v in props.items() if k in  KeysToShow]
	return pd.DataFrame(data=x,columns=['Key','value'])

myClusterProps=redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

C:\Users\gsmca\AppData\Local\Temp\ipykernel_9492\2376177922.py:2: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth',-1)

,Key,value
0,ClusterIdentifier,my-first-redshift
1,NodeType,dc2.large
2,MasterUsername,awsuser
3,DBName,flight
4,Endpoint,"{'Address': 'my-first-redshift.cafwxanap8ta.ap-south-1.redshift.amazonaws.com', 'Port': 5439}"
5,VpcId,vpc-0f23d0b55ac3b6c33

In [50]:
DWH_ENDPOINT=myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN=myClusterProps['IamRoles'][0]['IamRoleArn']
DB_NAME=myClusterProps['DBName']
DB_USER=myClusterProps['MasterUsername']

In [66]:
DB_NAME
DWH_ENDPOINT

'my-first-redshift.cafwxanap8ta.ap-south-1.redshift.amazonaws.com'

In [82]:
try:
	vpc=ec2.Vpc(id=myClusterProps['VpcId'])
	defaultSg=list(vpc.security_groups.all())[0]
	print(defaultSg)

	defaultSg.authorize_ingress(
		GroupName=defaultSg.group_name,
		CidrIp='0.0.0.0/0',
		IpProtocol='TCP',
		FromPort=int(DWH_PORT),
		ToPort=int(DWH_PORT))

except Exception as e:
		print(e)

ec2.SecurityGroup(id='sg-01133ae030ff30145')
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists

In [90]:
try:
    conn=psycopg2.connect(host=DWH_ENDPOINT,dbname=DB_NAME,user=DB_USER,password=DWH_DB_PASSWORD,port=5439)
    
except psycopg2.Error as e:
    print('Error could not take connection to the postgress database')
    print(e)
    
conn.set_session(autocommit=True)

In [91]:
try:
    cur=conn.cursor()
except psycopg2.Error as e:
    print('Error: Could not get cursor to the Database')
    print(e)

In [76]:
try:
	cur.execute(""" create table users(
	userid integer not null distkey sortkey,
	username char(8),
	firstname varchar(30),
	lastname varchar(30),
	city varchar(30),
	state char (2),
	email varchar(100),
	phone char(14),
	likesports boolean,
	liketheatre boolean,
	likeconcerts boolean,
	likejazz boolean,
	likeclassical boolean,
	likeopera boolean,
	likerock boolean,
	likevegas boolean,
	likebroadway boolean,
	likemusicals boolean);""")
except psycopg2.Error as e:
	print('Error:Issue creating table')
	print(e)

In [79]:
try:
	cur.execute(""" create table venue(
	venueid smallint not null distkey sortkey,
	venuename varchar(100),
	venuecity varchar(30),
	venuestate varchar(30),
	venueseats integer);""")
except psycopg2.Error as e:
	print('Error:Issue creating table')

	print(e)

In [86]:
try:
	cur.execute(""" create table category(
	catid smallint not null distkey sortkey,
	catgroup varchar(10),
	catname varchar(10),
	catdesc varchar(50));

create table date(
	dateid smallint not null distkey sortkey,
	caldate date not null,
	day character(3) not null,
	week smallint not null,
	month character(5) not null,
	qtr character(5) not null,
	year smallint not null,
	holiday boolean default('N'));

create table event(
	eventid integer not null distkey,
	venueid smallint not null,
	catid smallint not null,
	dateid smallint not null sortkey,
	eventname varchar(200),
	starttime timestamp);


create table listing(
	listid integer not null distkey,
	sellerid integer not null,
	eventid integer not null,
	dateid smallint not null sortkey,
	numtickets smallint not null,
	priceperticket decimal(8,2),
	totalprice decimal(8,2),
	listtime timestamp);

	""")
except psycopg2.Error as e:
	print('Error:Issue creating table')
	print(e)

In [88]:
#now loading data from s3 to redshift
# for users table
try:
	cur.execute("""
	copy users from 's3://vishnu-test-buck/allusers_pipe.txt'
	credentials 'aws_iam_role=arn:aws:iam::027748087446:role/redshift-s3-access'
	delimiter '|'
	region 'ap-south-1'
	""")
except psycopg2.Error as e:
	print("Error: Issue crerating table")
	print(e)

In [92]:
#now loading data from s3 to redshift
# for venue table
try:
	cur.execute("""
	copy venue from 's3://vishnu-test-buck/venue_pipe.txt'
	credentials 'aws_iam_role=arn:aws:iam::027748087446:role/redshift-s3-access'
	delimiter '|'
	region 'ap-south-1'
	""")
except psycopg2.Error as e:
	print("Error: Issue crerating table")
	print(e)

In [93]:
#now loading data from s3 to redshift
# for category table
try:
	cur.execute("""
	copy category from 's3://vishnu-test-buck/category_pipe.txt'
	credentials 'aws_iam_role=arn:aws:iam::027748087446:role/redshift-s3-access'
	delimiter '|'
	region 'ap-south-1'
	""")
except psycopg2.Error as e:
	print("Error: Issue crerating table")
	print(e)

In [94]:

#now loading data from s3 to redshift
# for date table
try:
	cur.execute("""
	copy date from 's3://vishnu-test-buck/date2008_pipe.txt'
	credentials 'aws_iam_role=arn:aws:iam::027748087446:role/redshift-s3-access'
	delimiter '|'
	region 'ap-south-1'
	""")
except psycopg2.Error as e:
	print("Error: Issue crerating table")
	print(e)

In [95]:
#now loading data from s3 to redshift
# for event table
try:
	cur.execute("""
	copy event from 's3://vishnu-test-buck/allevents_pipe.txt'
	credentials 'aws_iam_role=arn:aws:iam::027748087446:role/redshift-s3-access'
	delimiter '|'
	region 'ap-south-1'
	""")
except psycopg2.Error as e:
	print("Error: Issue crerating table")
	print(e)

In [96]:
#now loading data from s3 to redshift
# for listing table
try:
	cur.execute("""
	copy listing from 's3://vishnu-test-buck/listings_pipe.txt'
	credentials 'aws_iam_role=arn:aws:iam::027748087446:role/redshift-s3-access'
	delimiter '|'
	region 'ap-south-1'
	""")
except psycopg2.Error as e:
	print("Error: Issue crerating table")
	print(e)

In [99]:
#deleting cluster

redshift.delete_cluster(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,SkipFinalClusterSnapshot=True)

{'Cluster': {'ClusterIdentifier': 'my-first-redshift',
  'NodeType': 'dc2.large',
  'ClusterStatus': 'deleting',
  'ClusterAvailabilityStatus': 'Modifying',
  'MasterUsername': 'awsuser',
  'DBName': 'flight',
  'Endpoint': {'Address': 'my-first-redshift.cafwxanap8ta.ap-south-1.redshift.amazonaws.com',
   'Port': 5439},
  'ClusterCreateTime': datetime.datetime(2022, 7, 11, 9, 4, 22, 387000, tzinfo=tzutc()),
  'AutomatedSnapshotRetentionPeriod': 1,
  'ManualSnapshotRetentionPeriod': -1,
  'ClusterSecurityGroups': [],
  'VpcSecurityGroups': [{'VpcSecurityGroupId': 'sg-01133ae030ff30145',
    'Status': 'active'}],
  'ClusterParameterGroups': [{'ParameterGroupName': 'default.redshift-1.0',
    'ParameterApplyStatus': 'in-sync'}],
  'ClusterSubnetGroupName': 'default',
  'VpcId': 'vpc-0f23d0b55ac3b6c33',
  'AvailabilityZone': 'ap-south-1b',
  'PreferredMaintenanceWindow': 'sat:08:00-sat:08:30',
  'PendingModifiedValues': {},
  'ClusterVersion': '1.0',
  'AllowVersionUpgrade': True,
  'NumberOfNodes': 1,
  'PubliclyAccessible': True,
  'Encrypted': False,
  'Tags': [],
  'EnhancedVpcRouting': False,
  'IamRoles': [{'IamRoleArn': 'arn:aws:iam::027748087446:role/redshift-s3-access',
    'ApplyStatus': 'in-sync'}],
  'MaintenanceTrackName': 'current',
  'DeferredMaintenanceWindows': [],
  'NextMaintenanceWindowStartTime': datetime.datetime(2022, 7, 16, 8, 0, tzinfo=tzutc()),
  'TotalStorageCapacityInMegaBytes': 400000,
  'AquaConfiguration': {'AquaStatus': 'disabled',
   'AquaConfigurationStatus': 'auto'}},
 'ResponseMetadata': {'RequestId': '1d7cb15c-0d8b-4930-8d97-0fbbeb80ffe4',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '1d7cb15c-0d8b-4930-8d97-0fbbeb80ffe4',
   'content-type': 'text/xml',
   'content-length': '2732',
   'vary': 'accept-encoding',
   'date': 'Mon, 11 Jul 2022 12:34:48 GMT'},
  'RetryAttempts': 0}}